<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<td data-arp-col="category" data-arp-sort-value="{category.title}">
    <span class="arp-editor-category-title">{category.title}</span>
    <f:if condition="{category.editUrl}">
        <f:variable name="openCategoryLabel"><f:translate key="{lll}action.openCategoryRecord"/></f:variable>
        <f:render
            partial="RestaurantEditor/IconActionLink"
            arguments="{url: category.editUrl, icon: 'actions-open', label: openCategoryLabel}"
        />
    </f:if>
    <f:for each="{category.statusKeys}" as="statusKey">
        <f:render partial="RestaurantEditor/Status" arguments="{lll: lll, statusKey: statusKey, skipVisible: 1}"/>
    </f:for>
</td>
</html>
