<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:if condition="{skipVisible} && {statusKey} == 'visible'">
    <f:then></f:then>
    <f:else>
        <f:switch expression="{statusKey}">
            <f:case value="visible">
                <f:variable name="statusLabel"><f:translate key="{lll}status.visible"/></f:variable>
                <f:variable name="reviewLabel"><f:translate key="{lll}priceVisibility.entry.visible"/></f:variable>
                <f:if condition="{reviewUrl}">
                    <f:then>
                        <a
                            class="arp-editor-icon-action arp-editor-status arp-editor-status--icon arp-editor-status--visible"
                            href="{reviewUrl}"
                            title="{reviewLabel}"
                            aria-label="{reviewLabel}"
                            data-arp-edit-visibility="1"
                        >
                            <core:icon identifier="actions-eye" size="small"/>
                            <span class="arp-editor-sr">{statusLabel}</span>
                        </a>
                    </f:then>
                    <f:else>
                        <span
                            class="arp-editor-status arp-editor-status--icon arp-editor-status--visible"
                            title="{statusLabel}"
                            aria-label="{statusLabel}"
                            role="img"
                        >
                            <core:icon identifier="actions-eye" size="small"/>
                            <span class="arp-editor-sr">{statusLabel}</span>
                        </span>
                    </f:else>
                </f:if>
            </f:case>
            <f:case value="hidden">
                <f:variable name="statusLabel"><f:translate key="{lll}status.hidden"/></f:variable>
                <f:variable name="reviewLabel"><f:translate key="{lll}priceVisibility.entry.hidden"/></f:variable>
                <f:if condition="{reviewUrl}">
                    <f:then>
                        <a
                            class="arp-editor-icon-action arp-editor-status arp-editor-status--icon arp-editor-status--hidden"
                            href="{reviewUrl}"
                            title="{reviewLabel}"
                            aria-label="{reviewLabel}"
                            data-arp-edit-visibility="1"
                        >
                            <core:icon identifier="actions-eye" overlay="overlay-hidden" size="small"/>
                            <span class="arp-editor-sr">{statusLabel}</span>
                        </a>
                    </f:then>
                    <f:else>
                        <span
                            class="arp-editor-status arp-editor-status--icon arp-editor-status--hidden"
                            title="{statusLabel}"
                            aria-label="{statusLabel}"
                            role="img"
                        >
                            <core:icon identifier="actions-eye" overlay="overlay-hidden" size="small"/>
                            <span class="arp-editor-sr">{statusLabel}</span>
                        </span>
                    </f:else>
                </f:if>
            </f:case>
            <f:case value="scheduled">
                <f:variable name="statusLabel"><f:translate key="{lll}status.scheduled"/></f:variable>
                <span
                    class="arp-editor-status arp-editor-status--icon arp-editor-status--scheduled"
                    title="{statusLabel}"
                    aria-label="{statusLabel}"
                    role="img"
                >
                    <core:icon identifier="actions-clock" size="small"/>
                    <span class="arp-editor-sr">{statusLabel}</span>
                </span>
            </f:case>
            <f:case value="itemHidden">
                <span class="arp-editor-status arp-editor-status--itemHidden">
                    <f:translate key="{lll}status.itemHidden"/>
                </span>
            </f:case>
        </f:switch>
    </f:else>
</f:if>
</html>
